html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.responsive {
    width: 100%;
    height: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

td, th {
    text-align: center;
    padding: 8px;
    height: 50px;
    border: 1px solid black;
    border-width: 1px;
}

th {
    font-size: 35px;
}

td {
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
